<div id="blocklyDiv" style="width: 100%" ng-style="$ctrl.style"></div>

<xml id="toolbox" style="display: none">
  <block type="girar_esquerda"></block>
  <block type="girar_direita"></block>
  <block type="abrir_pinca"></block>
  <block type="fechar_pinca"></block>
  <block type="mover_frente"></block>
  <block type="mover_baixo"></block>
  <block type="mover_tras"></block>
  <block type="mover_cima"></block>
</xml>

<div layout="row" layout-align="center center">
  <md-button class="md-raised md-primary"
             ng-click="$ctrl.submeterPrograma()">
    Submeter p/ execução
  </md-button>
</div>
