<md-content>
  <div layout="row">
    <md-button class="md-icon-button" ui-sref="editor" style="margin: 8px">
      <md-tooltip>Voltar</md-tooltip>
      <md-icon md-font-icon="fa-arrow-circle-left" class="fa" style="font-size: 36px"></md-icon>
    </md-button>
    <h3 flex class="center">Histórico</h3>
  </div>
  <div>
    <md-content>
      <md-list class="md-dense" flex>
        <md-list-item class="md-3-line" ng-repeat="programa in $ctrl.programas track by $index">
          <div class="md-list-item-text" layout="column" flex>
            <p><b>Envio:</b> {{ programa.dataEnvio }}</p>
            <p><b>Status:</b> {{programa.status }}</p>
            <p><b>Instruções:</b> {{ programa.instrucoes }}</p>
          </div>
          <div ng-if="programa.video" flex="10">
            <video controls ng-src="{{ programa.video }}"></video>
          </div>
        </md-list-item>
        <md-divider></md-divider>
      </md-list>
    </md-content>
  </div>
</md-content>
