<md-content layout="column" layout-align="center center">

  <h3>Faça o login utilizando a sua rede social</h3>

  <div>
    <md-button class="md-raised"
               aria-label="Login com facebook"
               ng-click="$ctrl.usuario.login('facebook')">
      <img src="../../img/facebook.png" alt="Facebook"/>
    </md-button>
    <md-button class="md-raised" aria-label="Login com google">
      <img src="../../img/google.png" alt="Google"
           ng-click="$ctrl.usuario.login('google')"/>
    </md-button>
  </div>
</md-content>
