.main-content {
  md-toolbar {
    .md-icon-button.md-button {
      padding: 0;
    }

    .md-font {
      font-size: 30px;
      line-height: 40px;
    }

    .md-button {
      min-width: 0;
    }

    img {
      width: $md-toolbar-height-mobile-landscape - 8px;
      height: $md-toolbar-height-mobile-landscape - 8px;
    }
  }
}
